html, header, main, section, nav {
    display: block;
} 

html, body {
    height: 100%;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}


body{
   background-color: #D20305;
}

header{
   background-color: black;
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   width: 100%;
}

h1 {
    margin-left: 10px;
    font-family: Montserrat, sans-serif;
}

h1 a {
	color: white;
	text-decoration: none;
}

nav {
    text-align: center;
    margin-top: -3%;
    margin-left: 50%;
}

nav li{
	float: left;
    padding-left: 2%;
    text-decoration: none
}

nav ul{
   list-style-type:none;
}

nav a{
   color:white;
   font-weight: bold;
   text-decoration: none;
}

h3 {
    font-size: 100px;
    text-align: center;
    position: relative;
    font-style: oblique;
    color: white;
    margin: 0px;
}

#main {
    padding-top: 20%;
    height: 59%;
}

#deve, #reno, #inve, #sett, #cont {
    height: 100%;
    width: 100%;
    padding-top: 20%;
    background-color: white;
}

footer{
   clear: both;
   padding: 1%;
   text-align: center;
   color : #5c5454;
}

@media screen and (max-width: 800px){
 
}











